.app-button {
  margin-bottom: 2vh;
}

.dataTable {
  width: 70%;
  border: 1px solid black;
  margin: 0 auto;
}

.dataTable>tbody {
  text-align: center;
}

.dataTable>thead>tr>th {
  border: 1px solid black;
}

.dataTable>tbody>tr>td {
  border: 1px solid black;
}